.react-datepicker-popper {
    width: max-content;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
    display: block;
}

.form-check label {
    color: #717171;
    font-size: 16px;
    font-weight: 500;
}
.modal-dialog{
    max-width: 80% !important;
    margin-top:150px !important;
}

.modal{
    opacity: 1 !important;
}

.modal-backdrop.fade {
    opacity: 0.4 !important;
}